/* UNIVERSAL STYLES */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Red Hat Text", Arial, Helvetica, sans-serif;
}

body{
  background-color: #FCF8F6;
  color: #260F08;
}

main {
  width: 55%;
}

h1{
  font-size: 56px;
}