/* UNIVERSAL STYLES */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Red Hat Text", Arial, Helvetica, sans-serif;
}

body{
  background-color: #FCF8F6;
  color: #260F08;
  padding: 88px 0px;
  position: relative;
  font-size: 14px;
  line-height: 150%;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
}

main {
  width: 55%;
}

aside{
  width: 26%;
  height: fit-content;
  background-color: white;
  padding: 24px;
  position: sticky;
  top: 20px;
}

h1{
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 32px;
}

h2{
  color: #C73B0F;
  font-size: 24px;
  line-height: 125%;
}

@media only screen and (max-width: 1000px){
  #root{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body{
    padding: 40px;
  }

  main{
    width: 100%;
  }

  aside{
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  body{
    padding: 24px;
  }
}